.navbar {
	background: #1c2237;
	height: 80px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-size: 1.2rem;
	padding: 40px;
	top: 0;
	position: sticky;
}


.navbar__left{
	margin-right: auto;
}

.navbar__right {
	display: flex;
	align-items: center;
}

.navbar__logo {
	color: #fff;
	cursor: pointer;
	text-decoration: none;
	display: flex;
	align-items: center;
	height: 25px;
	object-fit: contain;
}

.nav__links {
	padding: 0px 10px;
	color: #fff;
	text-decoration: none;
}